// variables.scss - variables and mixins to pre-ignite any new web development project

// Links ------------------------------ +
$linkColor:         #333;
$linkColorHover:    darken($linkColor, 5);

// Colors ----------------------------- +
$black:             #484848;
$white:				#f9f9f9;
$maroon:            #500001;
$errorColor: 		#f15b4d;